<section class="text-gray-300 w-full body-font flex flex-col items-center rounded-3xl ">
  <div class="container px-5 py-12 bg-random max-md:bg-no-repeat">
    <div class="flex flex-col  text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">What We Provide</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A2SV offers free remote and in-person education to help African students develop their digital skills. The program starts with a community education program that gives students the chance to build real-world software projects. This pathway not only teaches students valuable skills, but it also opens up opportunities to interview with top tech companies.</p>
    </div>
    <div class="flex flex-wrap justify-center">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl font-medium title-font mb-2 text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">In-Person Education</h2>
        <p class="leading-relaxed text-base mb-4">In-person program for talented students from Addis Ababa University, AASTU, and University of Ghana, offering hands-on training on campus.</p>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl font-medium title-font mb-2 text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">Remote Education</h2>
        <p class="leading-relaxed text-base mb-4">Remote education allows students from all over the world access to its high-quality education through a virtual setting.</p>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
        <h2 class="text-lg sm:text-xl  font-medium title-font mb-2 text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">Community Education</h2>
        <p class="leading-relaxed text-base mb-4">The Community Education Program is the entry to A2SV, allowing students to start their learning journey until the next intake season.</p>
      </div>
    </div>
  </div>
  <div class="inline-flex space-x-3 mb-6 justify-center hover:border-indigo-600 border-white border  border-opacity-50 rounded-full px-6 py-2 text-white  hover:text-indigo-600  items-center sm:justify-start mt-2">
    <div class="flex flex-col  justify-center">
      <a href="https://t.me/+yqzQh04AAXRjZGQ0" target="_blank" class="font-semibold">Join Us</a>
    </div>
  </div>
</section>
