<!-- Project Section (Dark Mode) -->
<section id="project" class="bg-black py-12 md:px-20 px-4 " >
 
  <div class="container mx-auto">
    <!-- <div class="text-center mb-7 flex flex-col md:flex-row md:justify-between md:items-start " > <a
        (click)="scrollToSection('workshops')"
        class="hover:underline hover:text-indigo-700 text-2xl cursor-pointer my-10 text-center"
      >
        <strong
          class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to-indigo-300 bg-clip-text"
          >Check out our workshops
        </strong></a
      >

      <a
      (click)="scrollToSection('quarter')"
      class="hover:underline hover:text-indigo-700 text-2xl cursor-pointer my-10 text-center"
    >
      <strong
        class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to-indigo-300 bg-clip-text"
        >Quarter Finalist projects
      </strong></a
    >
    
    </div> -->

<!-- 
    <div class="text-center mb-16 mx-auto">
      <h2
        class="text-4xl font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text mb-3"
      >
      Semifinals Summary
      </h2>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white text-justify justify-between">The excitement continues as 40 standout teams emerge from the Quarter Finals to compete in the Semi Finals. These talented African students are on a mission to redefine tech education, and the stakes are high. Get ready to witness groundbreaking solutions and innovations that will shape the tech landscape.
         A2SV is proud to support the journey of these bright minds!</p>
    </div> -->
    <div class="text-center mb-16 mx-auto sm:mx-0  sm:w-full ">
      <h2
      class="text-4xl font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text"
    >
    Semifinals Summary
    </h2>
    <div class="flex my-10 md:mx-20 flex-col lg:flex-col ">
      <div class="flex-1">
          <p class=" lg:w-3/4 mx-auto  leading-relaxed text-base text-white text-justify justify-between mb-6">
            The excitement continues as 40 standout teams emerge from the Quarter Finals to compete in the Semi Finals. These talented African students are on a mission to redefine tech education, and the stakes are high. Get ready to witness groundbreaking solutions and innovations that will shape the tech landscape.
         A2SV is proud to support the journey of these bright minds!
          </p>

      </div>

      <div class="flex-1">
          <!-- <h1 class="text-2xl font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text mb-5">Quarter Final Summary</h1> -->
         <div class="flex md:flex-row flex-col  lg:w-3/4 mx-auto">
          <table class="border-separate border-spacing-2 border border-slate-500 w-full text-white mb:7 lg:mb-0  md:mr-5">
            <thead>
              <tr class="bg-gradient-to-r from-indigo-600 to to-pink-500">
                <th class="border border-slate-600 p-2">Summary</th>
                <th class="border border-slate-600 p-2">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border border-slate-700 ...">Total Teams</td>
                <td class="border border-slate-700 ...">40</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Countries Represented</td>
                <td class="border border-slate-700 ...">20</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Schools Represented</td>
                <td class="border border-slate-700 ...">60</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Mentors</td>
                <td class="border border-slate-700 ...">34</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Experts</td>
                <td class="border border-slate-700 ...">9</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Advisors</td>
                <td class="border border-slate-700 ...">14</td>
              </tr>
              
            </tbody>
          </table>
          


          <table class="border-separate border-spacing-2 border border-slate-500 w-full text-white mt-7 lg:mt-0">
            <thead>
              <tr class="bg-gradient-to-r from-indigo-600 to to-pink-500">
                <th class="border border-slate-600 p-2">Categories </th>
                <th class="border border-slate-600 p-2">Projects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border border-slate-700 ...">AI Driven Artistry and Innovation</td>
                <td class="border border-slate-700 ...">4</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Legal</td>
                <td class="border border-slate-700 ...">3</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Communication and Accessibility</td>
                <td class="border border-slate-700 ...">4</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Data Analysis and Decision making</td>
                <td class="border border-slate-700 ...">3</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Healthcare</td>
                <td class="border border-slate-700 ...">6</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Agriculture and Farming</td>
                <td class="border border-slate-700 ...">4</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Education and Learning</td>
                <td class="border border-slate-700 ...">10</td>
              </tr>
              <tr>
                <td class="border border-slate-700 ...">Personalized Assistance</td>
                <td class="border border-slate-700 ...">6</td>
              </tr>
            </tbody>
          </table>
         </div>
      </div>
    </div>
  </div>

    <!-- Project Grid -->
    <!-- Project Cards -->
    <!-- <div *ngFor="let project of projects; let i = index"
                class="bg-transparent p-6 rounded-lg shadow-lg hover:shadow-xl transition-transform duration-300 transform hover:scale-105">
                <h3 class="text-xl font-semibold mt-4 text-white">{{ project.projectname }}
                    <span class="text-gray-500">by {{ project.team }}</span>
                </h3>
                <p class="text-gray-300 mt-2 ">{{ project.description }}</p>
                <div class="flex  mt-2  justify-between w-full  items-start">
                    <span class="text-white">{{ project.countriesWithFlags }}</span>
                    
                    <button (click)="openModal(i)" class="open-modal-button inline-flex mt-2 text-blue-700 max-sm:px-4  max-sm:text-sm  
                    absolute bottom-0 right-0">
                    <svg xmlns="http://www.w3.org/2000/svg"  class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14l8-7-8-7z" />
                    </svg>
                    <span class=" ml-2">Watch </span></button>
                </div>
                   
            </div> -->
    <!-- <div class="my-4 w-3/4 ">
                       
                    <ng-container *ngFor="let project of projects; let i = index " >
                        <div *ngIf="isModalOpenArray[i]" class="fixed inset-0 flex items-center justify-center z-50 ">
                            <div class="modal-overlay"></div>
                            <div class="modal-container modal-box w-11/12 max-sm:w-full max-sm:mx-2 max-w-5xl bg-gray-900 text-center h-[60vh]">
                                <h1 class="my-2 text-xl">{{project.projectname}}</h1>
                                <iframe [src]="safeVideoUrls[i]" class="w-full h-4/5" frameborder="0" allowfullscreen></iframe>
                                <button (click)="closeModal(i)" class="modal-close-button p-3 border-white border-2 my-2 rounded  hover:border-indigo-600">Close</button>
                            </div>
                        </div>
                    </ng-container>
                </div> -->

    <!-- <div *ngFor="let category of categories; let j = index" class="mb-20">
            <div class="flex flex-col text-center w-full">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-indigo-800">{{ category.title }}</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white">{{ category.description }}</p>
            </div>
        
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <ng-container *ngFor="let project of projects; let i = index">
                    <ng-container *ngIf="project.category === category.title">
                        <div class="container px-5 py-5 mx-auto">
                            <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
                                <iframe class="lg:h-48 md:h-36 w-full object-cover object-center" [src]="projects[1].video"></iframe>
                                <div class="p-6">
                                    <h1 class="title-font text-lg font-medium text-white mb-3">{{ project.projectname }}
                                        <span class="text-gray-500">by {{ project.team }}</span>
                                    </h1>
                                    <p class="leading-relaxed mb-3 text-gray-600">{{ project.description }}</p>
                                    <a class="inline-flex items-center">
                                        <span class="flex-grow flex flex-col pl-3">
                                            <span class="text-white">{{ project.countriesWithFlags }}</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div> -->

    <div *ngFor="let category of categories; let j = index" class="mb-20">
      <div class="flex flex-col text-center w-full">
        <div class="flex items-center justify-center">
          <button class="mt-2" (click)="toggleCategory(j)">
            <span class="flex items-center">
              <h1
                class="sm:text-3xl text-2xl title-font mb-4 font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text"
              >
                {{ category.title }}
              </h1>

              <svg
                *ngIf="!categoryExpanded[j]"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8 mb-3 ml-2 text-pink-400"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"
                />
              </svg>

              <svg
                *ngIf="categoryExpanded[j]"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8 mb-3 ml-2 text-pink-400 transform rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </span>
          </button>
        </div>

        <!-- <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-indigo-800">{{ category.title }}</h1> -->

        <p
          class="lg:w-2/3 mx-auto leading-relaxed text-base text-white text-justify justify-between"
        >
          {{ category.description }}
        </p>

        <!-- <div class="flex items-center justify-center"> -->

        <!-- <button  class="mt-2"   (click)="toggleCategory(j)">
                  <span class="flex items-center ">
                    
                    <span class="text-lg font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">Check Out Projects</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         class="w-8 h-8 ml-2 text-pink-400">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
                    </svg>
                  </span>
                </button> -->

        <!-- </div> -->
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <ng-container *ngFor="let project of projects; let i = index">
          <ng-container
            *ngIf="
              project.category === category.title &&
              categoryExpanded[j] &&
              project.video
            "
          >
            <div class="container px-5 py-5 mx-auto">
              <div
                class="h-full border-2 border-gray-800 rounded-lg overflow-hidden"
              >
                <iframe
                  class="lg:h-48 md:h-36 w-full object-cover object-center"
                  [src]="safeVideoUrls[i]"
                ></iframe>
                <div class="p-6">
                  <h1 class="title-font text-lg font-medium text-white mb-3">
                    {{ project.projectname }}
                    <span class="text-gray-500">by {{ project.team }}</span>
                  </h1>
                  <p class="leading-relaxed mb-3 text-gray-600">
                    {{ project.description }}
                  </p>
                  <a class="inline-flex items-center">
                    <span class="flex-grow flex flex-col pl-3">
                      <span class="text-white">{{
                        project.countriesWithFlags
                      }}</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>
