<section id="home" class="text-gray-600 flex  lg:pb-16 bg-gradient-to-r from-indigo-950 via-black to-black max-md:bg-hero2 max-md:bg-cover max-md:bg-fixed max-md:bg-center max-md:bg-no-repeat rounded-bl-3xl  sm:min-h-screen  body-font z-0 relative">
  <div class="max-md:bg-black  mx-auto max-w-[1680px]  relative w-full h-full max-md:bg-opacity-80 max-md:px-8 px-20 pt-20 min-h-screen max-sm:pt-12">
    <app-registration [showModal]="showIndividualRegistrationModal" (closeModalEvent)="onHideModal()"></app-registration>
    <app-mentors-registration [registrationLink]="mentorsRegistrationLink" [showModal]="showMentorsModal" (closeModalEvent)="onHideModal()"></app-mentors-registration>
    <app-advisors-registration [registrationLink]="advisorsRegistrationLink" [showModal]="showAdvisorsModal" (closeModalEvent)="onHideModal()" ></app-advisors-registration>
    <app-team-registration [showModal]="showTeamRegistrationModal" (closeModalEvent)="onHideModal()"></app-team-registration>
    <div (click)="scrollDown()" class="rounded-full max-md:hidden text-white border-2 p-2 animate-bounce z-40 cursor-pointer mx-auto absolute bottom-4 left-1/2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
      </svg>
    </div>
    <div class="relative max-sm:py-12 flex justify-center md:flex-row flex-col  items-center">
      <div class="lg:flex-grow gap-y-4  flex-1 w-full flex items-end  lg:pr-24 md:pr-16  flex-col justify-center md:items-start md:text-left  md:mb-0   max-md:items-center max-md:justify-center  max-md:px-0 max-md:mx-0">
        <h1 class="leading-tight max-md:leading-normal max-sm:leading-snug font-IBM max-md:text-2xl sm:text-[40px]  mb-2 max-sm:font-medium font-medium text-gray-200">A2SV Hackathon Pushing Boundaries with
          <br>Generative AI!
        </h1>
        <p class="text-gray-300 font-light md:text-lg  leading-relaxed">Ignite Africa's talent and push the boundaries of technology at the A2SV Hackathon!  Join us for an <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">Africa-wide</strong> event focused on <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">Generative AI</strong>, where innovative minds come together to shape the future.</p>
        <app-count-down></app-count-down>
        <p *ngIf="registrationButtonVisible" class="text-gray-300 text-lg">Get your spot in the Hackathon</p>
        <div  class="flex justify-between items-center">
        <button *ngIf="registrationButtonVisible" onClick="register_modal.showModal()"  class="inline-flex disabled:bg-gray-500  text-black bg-white border-0 max-sm:px-4 py-2 px-6 focus:outline-none hover:drop-shadow-xl  hover:bg-gray-300 rounded max-sm:text-sm text-lg">Register Now</button>
        <dialog *ngIf="showRegistrationModal" id="register_modal" class="modal mt-4">
          <form method="dialog" class="modal-box w-11/12 max-sm:w-full max-sm:mx-2 max-w-5xl bg-gray-900">
            <section class="text-gray-400 bg-gray-900 body-font">
              <div class="container p-4 ">
                <div class="flex flex-wrap justify-center -m-4">
                  <div class="p-4 lg:w-1/3">
                    <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                      <div>
<!--                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Individual Registration</h1>-->
                        <p class="leading-relaxed mb-3">Don't have a team yet? Register individually and we'll match you with other talented developers, designers, and problem solvers.</p>
                      </div>
                      <div class="flex  w-full flex-wrap space-y-4 justify-center items-end">
                        <a (click)="onRegisterIndividual()" class="rounded-full cursor-pointer modal-action px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                          <span class="relative">Register Individually</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="p-4 lg:w-1/3">
                    <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                      <div>
                        <p class="leading-relaxed mb-3">Already have a team? If you are the captain, register your team and start working on your project today.
                        </p>
                      </div>
                      <div class="flex w-full flex-wrap space-y-4 justify-center items-end modal-action">
                        <a (click)="onRegisterTeam()" class="rounded-full cursor-pointer px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                          <span class="relative">Register as a Team</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="modal-action">
              <button class="btn">Close</button>
            </div>
          </form>
        </dialog>


        <button  onClick="get_involved_modal.showModal()" class="ml-4 inline-flex text-white  max-sm:px-4  py-2 px-6 border border-white hover:text-indigo-600 hover:border-indigo-600 max-sm:text-sm  rounded text-lg">Get Involved</button>
        <dialog *ngIf="showGetInvolvedModal" id="get_involved_modal" class="modal mt-4">
          <form method="dialog" class="modal-box w-11/12 max-sm:w-full max-sm:mx-2 max-w-5xl bg-gray-900">

            <section class="text-gray-400 bg-gray-900 body-font">
              <div class="container p-4 ">
                <div class="flex flex-wrap -m-4">
                  <div class="p-4 lg:w-1/3">
                    <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                      <div>
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Be A Mentor</h1>
                        <p class="leading-relaxed mb-3">Inspire innovation during the quarter-finals, a 3-day virtual hackathon from 19-20 August, 2023. Your guidance will enable participants to develop their skills and ideas.</p>
                      </div>
                      <div class="flex  w-full flex-wrap space-y-4 justify-center items-end">
                        <a  (click)="onShowMentorsModal()"  class="rounded-full cursor-pointer modal-action px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                          <span class="relative">Be A Mentor</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="p-4 lg:w-1/3">
                    <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                      <div>
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Be An Advisor</h1>
                        <p class="leading-relaxed mb-3">Provide bi-weekly feedback to participants throughout the semi-finals, a two-month-long hacker league from August 28 - October 7, 2023. Your insights will sharpen the competitive edge of the event.</p>
                      </div>
                      <div class="flex w-full flex-wrap space-y-4 justify-center items-end modal-action">
                        <a (click)="onShowAdvisorsModal()" class="rounded-full cursor-pointer px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                          <span class="relative">Be An Advisor</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="p-4 lg:w-1/3">
                    <div class="h-full flex flex-col justify-between bg-gray-800 bg-opacity-40 px-8 py-8 rounded-lg overflow-hidden relative">
                      <div>
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3 text-center">Sponsor Us</h1>
                        <p class="leading-relaxed mb-3">Enhance your visibility within the African tech community, connect with A2SV talent, and fuel the rise of AI innovation in the region through your sponsorship</p>
                      </div>
                      <div class="flex w-full flex-wrap space-y-4 justify-center items-end">
                        <a href="mailto:contact@a2sv.org" class="rounded-full px-5 py-2.5 overflow-hidden group bg-gradient-to-r from-indigo-600 to-pink-500 relative hover:bg-gradient-to-r hover:from-indigo-600 hover:to-pink-500 text-white transition-all ease-out duration-300">
                          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                          <span class="relative">Contact Us</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div class="modal-action">
              <button class="btn">Close</button>
            </div>
          </form>
        </dialog>
        </div>
        <a (click)="scrollToSection('workshops')" class="text-indigo-600 text-center hover:underline hover:text-indigo-700 text-xl cursor-pointer">Our workshops are available now.</a>
      </div>
      <div class="flex flex-wrap flex-1 relative gap-x-3 max-lg:hidden   h-full ">
        <img src="assets/A2SV%20Hackathon%20(11).png" alt="" class="h-full w-full object-contain object-center ">
      </div>
    </div>
  </div>

</section>
