<section id="info" class="min-h-screen max-sm:py-0 py-6 max-sm:px-0 px-20">
  <div
    class="mt-24 w-full h-full relative overflow-hidden flex flex-col justify-center items-center"
  >
    <img
      src="assets/ccchaos%20(1).svg"
      class="absolute -right-10 -bottom-10 w-[1080px] max-sm:w-[720px] aspect-[1] opacity-70"
      alt=""
    />
    <!-- component -->
    <!-- <img src="assets/IMAGE.svg" class="absolute aspect-[1]  max-sm:hidden top-0 right-0 max-lg:w-[240px] w-[360px]"
      alt=""> -->

    <div
      class="container relative max-lg:px-4 max-sm:mt-4 px-12 pt-4 mt-12 flex flex-col"
    >
      <div
        class="flex flex-col lg:flex-row justify-center gap-x-12 items-start"
      >
        <div
          class="sm:py-8 mt-4 pt-4 sm:mt-0 sm:text-left flex-1 h-full w-full"
        >
          <h2
            class="sm:text-3xl text-center text-2xl font-medium mb-8 text-white"
          >
            About The Hackathon
          </h2>
          <p
            class="mt-3 text-gray-300 leading-relaxed text-justify justify-between"
          >
            <!-- This was an exciting multi-stage Hackathon, starting with Workshops from August 19-20, 2023. Learn about generative AI, hackathon dynamics, and innovative idea generation. -->
            This was an exciting multi-stage Hackathon, starting with
            <span
              class="text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text animate-text"
              >Workshops</span
            >
            from August 19-20, 2023. Learn about generative AI, hackathon
            dynamics, and innovative idea generation.
          </p>
          <p
            class="mt-3 text-gray-300 leading-relaxed text-justify justify-between"
          >
            <!-- Quarter-Finals took place from September 1-3, a 50-hour virtual hackathon where teams aimed to be in the top 40 projects. A2SV provided all teams with mentors for guidance. -->
            <span
              class="text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text animate-text"
              >Quarter-finals</span
            >
            took place from September 1-3, a 50-hour virtual hackathon where
            teams aimed to be in the top 40 projects. A2SV provided all teams
            with mentors for guidance.
          </p>
          <p
            class="mt-3 text-gray-300 leading-relaxed text-justify justify-between"
          >
            <!-- In the Semi-finals (September 19 - October 28, 2023), selected teams received support to refine their projects with feedback. -->
            In the
            <span
              class="text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text animate-text"
              >Semi-finals</span
            >
            (September 19 - October 28, 2023), selected teams received support
            to refine their projects with feedback.
          </p>
          <p
            class="mt-3 text-gray-300 leading-relaxed text-justify justify-between"
          >
            <!-- The Grand Finale on November 11-13, 2023, was the ultimate showdown. The top 8 teams flew to Ethiopia for an all-expense-paid 2-day event, competing for a $30,000 USD prize pool and presenting their projects to a distinguished jury. -->
            The
            <span
              class="text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text animate-text"
              >Grand Finale</span
            >
            on November 11-13, 2023, was the ultimate showdown. The top 9 teams
            flew to Ethiopia for an all-expense-paid 2-day event, competing for
            a $30,000 USD prize pool and presenting their projects to a
            distinguished jury.
          </p>
          <br />
          <!-- This is calendar section -->
          <!-- <div
            class="inline-flex space-x-3 mb-6 justify-center hover:border-indigo-600 border-white border border-opacity-50 rounded-full p-4 text-white hover:text-indigo-600 items-center sm:justify-start mt-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6"
            >
              <path
                d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z"
              />
              <path
                fill-rule="evenodd"
                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                clip-rule="evenodd"
              />
            </svg>
            <div class="flex flex-col justify-center">
              <a href="{{ calendarLink }}" target="_blank" class="font-semibold"
                >Get Hackathon Calendar</a
              >
            </div>
          </div> -->
        </div>
        <!-- <img src="assets/photo_2023-05-15_15-30-41%201.png"
          class="lg:w-1/2 flex-1 h-64 aspect-square w-full lg:h-96 sm:h-72 object-cover object-center rounded-xl"
          alt=""> -->
        <div
          class="sm:py-8 mt-4 pt-4 sm:mt-0 sm:text-left flex-1 h-full w-full"
        >
          <div class="text-center text-3xl text-white">Hackathon Timeline</div>
          <div
            class="container max-sm:px-4 max-md:w-full pt-4 pb-24 flex flex-wrap justify-center"
          >
            <div class="flex flex-col">
              <div class="md:pr-10 md:py-3">
                <div class="flex md:items-center relative">
                  <div
                    class="h-full w-16 absolute inset-0 flex items-center justify-center"
                  >
                    <div
                      class="h-full w-1 bg-gray-600 pointer-events-none"
                    ></div>
                  </div>
                  <div
                    class="flex-shrink-0 w-16 h-16 justify-center items-center text-center rounded-full border-white border-[0.25px] inline-flex text-white z-10 absolute top-0"
                  >
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-5 h-5"
                      viewBox="0 0 24 24"
                    >
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                  </div>
                  <!-- <div class="flex-grow ml-20 flex-col pb-2">
                    <p class="leading-relaxed text-white font-light text-xl">
                      Grand Finale
                    </p>
                    <p
                      class="text-sm text-gray-300 mt-2 text-justify justify-between"
                    >
                      The top 8 teams were flown to Ethiopia for an
                      all-expense-paid 2-day in-person event. They competed for
                      a total prize pool of $30,000, presenting their projects
                      to a distinguished jury.
                      
                    </p>
                    <div class="flex space-x-3 items-center text-gray-300 mt-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-6 h-6 flex-none text-white"
                      >
                        <path
                          d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <p class="leading-relaxed text-gray-400">
                        11-13, November 2023
                      </p>
                    </div>
                  </div> -->
                </div>
                <div
                  *ngFor="let step of steps; let i = index"
                  class="flex relative pb-4 lg:pb-3"
                >
                  <div
                    *ngIf="step.title != 'Registration'"
                    class="h-full w-16 absolute inset-0 flex items-center justify-center"
                  >
                    <div
                      class="h-full w-1 bg-gray-600 pointer-events-none"
                    ></div>
                  </div>
                  <!-- <div
                      class="flex-shrink-0 w-16 h-16 rounded-full bg-[#0E0C15] border-white border-[0.25px] border-opacity-30 inline-flex items-center justify-center text-white relative z-10">
                      {{step.number}}
                    </div> -->
                  <div
                    class="flex-shrink-0 w-16 h-16 rounded-full border-[0.25px] border-opacity-30 inline-flex items-center justify-center text-white relative z-10"
                  >
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-5 h-5"
                      viewBox="0 0 24 24"
                    >
                      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                      <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                  </div>

                  <div class="flex-grow pl-4">
                    <h2 class="leading-relaxed text-white font-light text-xl">
                      {{ step.title }}
                    </h2>
                    <p
                      class="text-sm text-gray-300 mt-2 text-justify justify-between"
                    >
                      {{ step.description }}
                    </p>
                    <div class="flex space-x-3 items-center text-gray-300">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="w-6 h-6 flex-none text-white"
                      >
                        <path
                          d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <p class="leading-relaxed text-gray-400">
                        {{ step.date }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
